/* style.css */

body {
    background-color: #0E0E0E;
    color: #9AA3B4;
    font-family: 'Nunito', sans-serif;
}

.nav {
    padding: 7px 120px;
    display: flex;
    justify-content: space-between;
}

.nav a {
    color: #9AA3B4;
    padding: 0 3px;
    text-decoration: none;
}

.nav #logo {
    color: #0078D4;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}

#nav-right {
    padding: 0 10px;
}

#nav-right button {
    background-color: #0078D4;
    color: #9AA3B4;
    border: none;
    padding: 3px 20px;
    border-radius: 3px;
    cursor: pointer;
}

#nav-right input {
    color: #9AA3B4;
    background-color: #131313;
    padding: 3px 10px;
    border-radius: 3px;
    border: none;
    margin: 0 5px;
    border: 0.4px solid #323232;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 50px 125px;
}

#main-left {
    padding: 0 30px;
}

#main-left h1 {
    color: white;
    padding-top: 30px;
    line-height: 1.3;
    font-size: 40px;
    text-decoration: none;
}

#main-left h4 {
    color: white;
    padding-top: 10px;
    line-height: 1.3;
    font-size: 20px;
    text-decoration: none !important;
}

#main-left h6 {
    color: white;
    padding-top: 5px;
    line-height: 1.3;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none !important;
}

#main-left button {
    background-color: #0078D4;
    color: #9AA3B4;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

#main-right {
    padding: 30px 0;
    padding-left: 10px;
}

#main-left,
#main-left * {
    text-decoration: none !important;
    color: inherit;
}
